<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="helloWorld" class="com.bitspur.springboot.demo.HelloWorld" init-method="myInit" 
		destroy-method="myDestroy" scope="prototype">
		<property name="name" value="Spring"></property>
	</bean>

	<bean id="driver" class="com.bitspur.springboot.model.Driver">
		<property name="salary" value="80000"></property>
		<!--<property name="name" value="Jim"></property>
		<property name="age" value="20"></property>
		<constructor-arg value="19" index="1"></constructor-arg>
		<constructor-arg value="Tom" index="0"></constructor-arg>-->
		<property name="car" ref="car1"></property>
		<property name="certificates">
			<list>
				<value>cert 1</value>	
				<value>cert 2</value>
				<value>cert 3</value>
			</list>	
		</property>	
		<property name="score">
			<map>
				<entry key="Jan" value="90"/>
				<entry key="Feb" value="80"/>
				<entry key="Mar" value="99"/>
			</map>	
		</property>	
	</bean>	
	
	<bean id="car1" class="com.bitspur.springboot.model.Car">
		<property name="color" value="black"></property>
		<property name="brand" value="BMW"></property>
	</bean>	

</beans>